SOUNDCLOUD_CLIENT_ID="some cool client id"
MUSICBRAINZ_CLIENT_ID="register an application at https://musicbrainz.org/account/applications"
MUSICBRAINZ_CLIENT_SECRET="the client secret of that application"
