[
	// charged, aggressiv, calm, normie
	(
		s: "6678f68f-0e56-4105-a83c-50dc0361b73f",
		q: 4,
		playlist: [
			"charged",
		],
	),
	(
		s: "d3b47582-8395-4b55-b428-b64eca7761d0",
		q: 4,
		playlist: [],
	),
	(
		s: "b830bfe2-17eb-4826-8ec8-0b5fe62f8768",
		q: 2,
		playlist: [],
	)
	(
		s: "8cb5aea7-464f-43d1-860d-f47dc8fe42e3",
		q: 2,
		playlist: [],
	),
	(
		s: "fb149eb6-e047-40df-aef0-23fceaf3884e",
		q: 1,
		playlist: [],
	),
]
