name: rust

on:
  push:
    branches: ["main"]
    paths: ["!listen.ron"]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest

    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v4

      - name: format
        run: cargo fmt --check

      - name: build
        run: cargo build --all-features

      - name: clippy
        run: cargo clippy --all-features -- -D warnings

      - name: test
        run: cargo test --all-features
