name: typos

on:
  push:
    branches: ["main"]
    paths: ["!listen.ron"]
  pull_request:

jobs:
  run:
    name: typos

    runs-on: ubuntu-latest

    timeout-minutes: 6

    steps:
      - uses: actions/checkout@v4

      - name: typos
        uses: crate-ci/typos@master
